@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;500;800&family=Playfair+Display:ital,wght@1,700&display=swap');

body {
    font-family: 'Outfit', sans-serif; /* Modern UI Font */
    margin: 0;
    padding: 0;
    color: #000;
}

h1, h2, h3 { font-weight: 800; letter-spacing: -1px; }

/* Product detail and price font */
.fashionText {
    font-family: 'Playfair Display', serif;
    font-style: italic;
}

/* Full color images */
img {
    filter: none !important;
}