.container {
  padding: 20px 4%;
}

.indicator {
  width: 8px;
  height: 8px;
  border: 0;
  border-radius: 100%;
  /* background-color: var(--brut-border); */
  background-color: rgb(8, 45, 255);
}
.title {
  margin-right: auto;
  font-weight: 700;
  font-size: 0.95rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.sort_buttons {
  margin: 16px 0;
  display: flex;
  /* margin-bottom: 0px; */
  gap: 10px;
}
.sort_button {
  background: var(--brut-hover) !important;
  /* color: var(--brut-bg) !important; */
  color: var(--brut-text);
  border: 1px solid var(--brut-border) !important;
  border-radius: 50px;
  padding: 10px 22px;
  font-size: 0.7rem;
}

.sort_button_active {
  border: 1px solid var(--brut-border) !important;
  border-radius: 50px;
  padding: 10px 22px;
  font-size: 0.7rem;
  background: var(--brut-text) !important;
  color: var(--brut-hover);
  font-weight: bold;
}

.img {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  border: 1px solid var(--brut-border);
  background-color: var(--brut-hover);
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.body {
  margin-top: 8px;
  color: var(--brut-text);
  opacity: 0.6;
}
.notification_card_main {
  border-bottom: 0.5px solid var(--brut-hover);
  padding: 16px 0;
  display: flex;
  flex-direction: column;

  button {
    border: 0;

    margin-left: auto;
    margin-top: 8px;
    font-size: 0.7rem;
    padding: 8px 16px;
    /* background-color: var(--brut-text); */
    background: transparent;
    color: var(--brut-text);
    border-radius: 10px;
    border: 0.5px solid var(--brut-border);
  }
}

.notification_card {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: 0.8rem;

  .header {
    display: flex;
    align-items: center;
    gap: 8px;
    justify-content: space-between;
  }

  .timestamp {
    color: var(--brut-text);
    opacity: 0.5;
    margin-bottom: auto;

    flex-shrink: 0;
  }
}

.notification_card_main {
  transition: 0.5s all;
}
.notification_card_main:hover {
  border-color: var(--brut-text);
  transform: translateY(-2px);
}

@media screen and (min-width: 1024px) {
  /* Your desktop styles go here */

  .notification_card {
    width: 70%;
  }
  .notification_card_main {
    border-bottom: 0.5px solid var(--brut-hover);
    padding: 16px 0;
    display: flex;
    align-items: center;

    justify-content: space-between;
    /* background-color: red; */
    flex-direction: row;

    button {
      /* display: none; */
      flex-shrink: 0;
      padding: 12px 22px;
    }
  }
}
