.bgWrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1; /* CHANGE: Set to 1 so it sits ON TOP of page backgrounds but BEHIND text */
    background: transparent;
    overflow: hidden;
    pointer-events: none; /* VERY IMPORTANT: so you can still click buttons underneath */
}

.shape {
    position: absolute;
    border: 2px solid #000000; /* Made thicker to see easily */
    opacity: 0.15; /* Increased opacity to 15% */
}

.circle {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.large {
    width: 500px;
    height: 500px;
}

.line {
    width: 300px;
    height: 1px;
    background-color: #000;
    border: none;
}